In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sbn

In [2]:
#Importing Dataset
dataset = pd.read_csv("iris2.csv")

In [3]:
dataset.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal length    150 non-null float64
sepal width     150 non-null float64
petal length    150 non-null float64
petal width     150 non-null float64
iris            150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [5]:
dataset["iris"].value_counts()

Iris-versicolor    50
Iris-virginica     50
Iris-setosa        50
Name: iris, dtype: int64

In [6]:
dataset.isnull().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
iris            0
dtype: int64

In [7]:
X = dataset.drop(['iris'],axis=1)
y = dataset['iris']

In [8]:
X.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [9]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: iris, dtype: object

In [10]:
#Encoding categorical data of dependent variable
from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [11]:
#Splitting dtaset in train test set
from sklearn.cross_validation import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y,test_size = 0.2)

C:\Users\goura\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [12]:
#applying Dimension Reduction PCA
# from sklearn.decomposition import PCA
# pca = PCA(n_components=2)
# train_X = pca.fit_transform(train_X)
# test_X = pca.transform(test_X)
# explained_variance = pca.explained_variance_ratio_
# explained_variance

In [13]:
train_X.shape

(120, 4)

In [14]:
#fitting the model to train set
from sklearn.linear_model import LogisticRegression
logistic_classifier = LogisticRegression()
logistic_classifier.fit(train_X,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
#predicting the test set
y_pred = logistic_classifier.predict(test_X)

In [16]:
#calculating accuracy score
from sklearn import metrics
accuracy = metrics.accuracy_score(test_y, y_pred)
accuracy

0.9333333333333333

In [17]:
#calculating confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(test_y, y_pred)
cm

array([[10,  0,  0],
       [ 0, 10,  2],
       [ 0,  0,  8]], dtype=int64)